

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    display: flex;
    background: #0f1624
}
.main-width{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/cat.jpeg);

    
}
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.photo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }



.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: (250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}


/*@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100%));
    }
}
*/



.slide {
    height: 250px;
    width: 200px;
    display: flex;
    align-items: 15px;
    padding: 15px;
    perspective: 100px;
}
img{
    width: 100%;
    transition:  1s;
}
img:hover{
    transform: translateZ(20px);
    
}

.slider::before,
.slider::after {
    background: linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


  
nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}
nav .hamb span{
    display: block;
    background: #2ecc71;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property:transform, opacity;
    
}
nav .hamb span:nth-child(2){
    margin: 7px 0px;
    
}
nav .nav-list{
    list-style: none;
}
nav .nav-list li{
    display: inline-block;
}
nav .nav-list li a{
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover{
    color: #2ecc71;
    transition: .4s;
}
nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid #2ecc71;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #2ecc71;
    font-weight: 500;
}
nav .nav-list li.btn:hover a{
    background: #2ecc71;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}
.container{
    padding-top: 190px;
}
.container .hero-text{
    margin-bottom: 40px;
}
.container .hero-text h1{
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
    
}
.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}
.container .hero-text h3{
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}
.container .hero-text p{
    width: 440px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    
}

.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
}
.social a:hover{
    transform: scale(1.1);
    background: #2eb2cc;
    transition: .4s;
    
}

.container .hero-text button{
    color: #eee;
    background: #2ecc71;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #2ecc71;
    border-radius: 30px;
    cursor: pointer;
    
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;

    background:linear-gradient(90deg, transparent, #2196f3);
}
a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}
.container .hero-text button:hover{
    background: transparent;
    border: 2px solid #2e78cc;
    color: #2ecc71;
    
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
.responsiveYouTube{
    aspect-ratio: 16 / 9;
    width: 100%;
}
.bottom{
    margin-top: 243px;
    padding-bottom: 40px;
}
.bottom p{
    color: #eee;
    letter-spacing: 2px;
    font-size: 15px;
}



:root{
    --poppins-font: 'Poppins', sans-serif;
    --dark-color: #0a0a0a;
    --red-color: #f64445;
    --light-color: #fff;
    --grey-color: #505050;
    --yellow-color: #f2c10e;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.7rem;
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--poppins-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
}
button, input{
    font-family: inherit;
    font-size: 1.8rem;
    outline: 0;
    border: none;
    background-color: transparent;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
.main-wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.app{
    background-color: var(--dark-color);
    margin: 2rem;
    padding: 5rem;
    border-radius: 6px;
    color: #fff;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
}
.app-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.app-header-title span{
    color: var(--red-color);
}
.app-header-search{
    border: 2px solid var(--grey-color);
    border-radius: 3rem;
    padding: 1rem 2rem;
    position: relative;
}
.app-header-search .form-control{
    min-width: 420px;
    color: #fff;
}
.app-header-search .search-btn{
    color: var(--grey-color);
    font-size: 2.3rem;
    cursor: pointer;
}

/* search list */
.search-list{
    z-index: 10;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    background-color: var(--light-color);
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}
.search-list::-webkit-scrollbar{
    width: 7px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius: 5px;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--dark-color);
    padding: 0.4rem 0;
}
.search-list-item img{
    width: 50px;
    margin-right: 2rem;
}
.search-list-item p{
    font-weight: 700;
    cursor: pointer;
}

/* app body */
.app-body{
    margin-top: 4rem;
    height: 600px;
    overflow-y: scroll;
}
.app-body::-webkit-scrollbar{
    width: 7px;
}
.app-body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.app-body::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius: 5px;
}

/* app body tabs heads */
.app-body-tabs-head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding-bottom: 1.6rem;
    margin: 2.4rem 0;
}
.tab-head-single{
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    font-weight: 500;
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tab-head-single:hover{
    opacity: 0.9;
}
.tab-head-single.active-tab::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.7rem;
    width: 100%;
    height: 4px;
    background-color: var(--red-color);
}

/* app body content */
.app-body-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    margin-right: 2rem;
}
.app-body-content-thumbnail{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.app-body-content-list .name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.4rem;
    font-weight: 500;
    margin-top: -1.2rem;
}
.app-body-tabs-body{
    margin-top: 3.6rem;
}

/* powerstats */
.powerstats{
    display: none;
}
.powerstats li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.2rem auto;
    padding: 1.2rem;
    -webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);
}
.powerstats li div i{
    color: var(--red-color);
}
.powerstats li div span{
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 7px;
    padding: 0 1.2rem;
    margin: 0 1.6rem;
    opacity: 0.6;
    font-size: 1.7rem;
}
.powerstats li > span{
    color: var(--yellow-color);
    font-weight: 700;
}
/* biography */
.biography{
    display: none;
}
.biography li{
    margin: 3.4rem 0;
}
.biography li span{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.9rem;
}
.biography li span:first-child{
    font-weight: 600;
    color: var(--grey-color);
    margin-right: 1rem;
}
.biography li span:last-child{
    font-weight: 300;
}

/* appearance */
.appearance{
    display: none;
}
.appearance li{
    margin: 3.2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.appearance li span:first-child i{
    color: var(--yellow-color);
    margin-right: 1.4rem;
}
.appearance li span:first-child{
    text-transform: capitalize;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 4rem;
}
.appearance li span:last-child{
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--red-color);
    border-radius: 2rem;
    padding: 0 1rem;
    text-align: right;
}

/* connections */
.connections{
    display: none;
}
.connections li span:first-child{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--grey-color);
    margin: 1.6rem 0 1.6rem 4rem;
    position: relative;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 3.6rem;
}
.connections li span:first-child::before{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -40px;
    height: 3px;
    width: 30px;
    background-color: var(--yellow-color);
}
.connections li span:last-child{
    letter-spacing: 1px;
    line-height: 1.9;
}

@media screen and (max-width: 1200px){
    .app-body-content{
        grid-template-columns: 1fr 3fr;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .tab-head-single{
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 1000px){
    .app-body-content-list .name{
        text-align: center;
        margin-top: 1.8rem;
    }
    .app-body-content{
        grid-template-columns: 1fr;
        row-gap: 4rem;
        max-width: 680px;
        margin-right: auto;
        margin-left: auto;
    }
    .app-body-content-thumbnail{
        max-width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px){
    .app-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .app-header-search{
        margin-top: 2.8rem;
    }
}

@media screen and (max-width: 768px){
    .app-body-tabs-head{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .app-header-search{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .app-header-search .form-control{
        min-width: auto;
        color: #fff;
    }
    .app-header-search .search-btn{
        padding-left: 2rem;
    }
    .app-body-tabs-body{
        margin-right: 3rem;
    }
}
.show-tab{
    display: block;
}



/*
  .copyright img {
    width: 420px;
    height: 420px;
    margin-top: 237px;
  }*/

